.wrap {
  margin-bottom: 60px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 8px;  
}

.ratingLocationWrap {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.rating,
.location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.starIcon {
  fill: var(--main-rating-color);
}

.mapIcon {
  fill: var(--main-black-color);
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 28px;
  text-align: left;
}
